[Unit]
Description=fetch updates from repos

[Service]
Environment=SSH_AUTH_SOCK="/run/user/1000/ssh-agent.socket"
ExecStart=/home/grzebiel/misc/sync-pull

[Install]
WantedBy=sleep.target
