[user]
	email = grzebieluch@me.com
	name = grzebiel
[alias]
	lg = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	co = checkout
	ci = commit
	st = status
	br = branch
	dlog = "!f() { GIT_EXTERNAL_DIFF=difft git log -p --ext-diff $@; }; f"
[diff]
	tool = difftastic
	external= difft

[difftool]
	prompt = false

[difftool "default-difftool"]
	cmd = vimdiff $LOCAL $REMOTE

[difftool "default-difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[core]
	editor = nvim
	; pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[pull]
	rebase = true
[init]
	defaultBranch = master
[push]
	autoSetupRemote = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
