[user]
	email = grzebieluch@me.com
	name = grzebiel
[alias]
	lg = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	co = checkout
	ci = commit
	st = status
	br = branch
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = vimdiff $LOCAL $REMOTE

[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[pull]
	rebase = true
[init]
	defaultBranch = master
